/********************
|| General Styles
*********************/
html {
  /* Display & Box Model */
  box-sizing: border-box;

  /* Other */
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  /* Display & Box Model */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* Display & Box Model */
  height: 100vh;

  /* Other */
  background-color: hsl(0, 43%, 97.5%);
}

nav {
  /* Display & Box Model */
  width: 100%;
  padding: 1rem;

  /* Other */
  font-size: 2rem;
  color: white;
  background-color: black;
}

nav > ul {
  /* Display & Box Model */
  display: flex;
  align-items: center;
}

nav > ul > li:first-child {
  /* Display & Box Model */
  margin-right: auto;
}

nav > ul > li {
  margin-left: 2rem;
}

.dropdown {
  /* Positioning */
  position: relative;
}

.dropdown::after {
  /* Display & Box Model */
  content: '▼';

  /* Other */
  font-size: 1rem;
  vertical-align: middle;
  cursor: pointer;
}

.submenu {
  /* Positioning */
  position: absolute;

  /* Display & Box Model */
  display: none;

  /* Other */
  background-color: black;
}

.submenu > li {
  /* Display & Box Model */
  border-bottom: 1px solid white;

  /* Other */
  padding: 1rem .5rem 1rem;
}

.dropdown:hover > .submenu {
  display: block;
}

nav a {
  text-decoration: none;
  color: white;
}


/********************
|| Utilities
*********************/
.noBullets {
  /* Other */
  list-style-type: none;
}

.troubleshooting {
  /* Other */
  outline: 1px solid red;
}