/********************
|| General Styles
*********************/
html {
  /* Display & Box Model */
  box-sizing: border-box;

  /* Other */
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  /* Display & Box Model */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* Display & Box Model */
  height: 100vh;

  /* Other */
  background-color: hsl(0, 43%, 97.5%);
}

nav {
  /* Display & Box Model */
  width: 100%;
  padding: 5rem 2rem;
  min-width: 555px;

  /* Other */
  font-size: 2rem;
  color: hsl(212, 100%, 64%);
  background: hsl(212, 95%, 92%);
}

nav > ul {
  /* Display & Box Model */
  display: flex;
  align-items: center;
}

nav > ul > li:first-child {
  /* Display & Box Model */
  margin-right: auto;
}

nav > ul > li {
  /* Display & Box Model */
  margin-left: 2rem;
}

.dropdown {
  /* Positioning */
  position: relative;
}

.dropdown > span {
  /* Positioning */
  position: relative;
  z-index: 2;

  /* Other */
  cursor: pointer;
}

.dropdown >span::after {
  /* Display & Box Model */
  content: '▼';

  /* Other */
  font-size: 1rem;
  vertical-align: middle;
  cursor: pointer;
}

.submenu {
  /* Positioning */
  position: absolute;
  top: -10px;
  left: -15px;
  z-index: 1;

  /* Display & Box Model */
  display: none;
  border-radius: 5px;
  padding-top: 4rem;

  /* Other */
  background: hsl(212, 100%, 85%);
}

.submenu > li {
  /* Display & Box Model */
  border-bottom: 1px solid white;

  /* Other */
  padding: 1rem 2rem 1rem;
}

.submenu >li:last-child {
  /* Display & Box Model */
  border: none;
}

.dropdown:hover > .submenu {
  /* Display & Box Model */
  display: block;
}

nav a:link,
nav a:visited {
  /* Other */
  text-decoration: none;
  color: hsl(212, 100%, 64%);
}

nav a:hover {
  /* Display & Box Model */
  border-bottom: 1px solid hsl(212, 100%, 64%);
}


/********************
|| Utilities
*********************/
.noBullets {
  /* Other */
  list-style-type: none;
}

.troubleshooting {
  /* Other */
  outline: 1px solid red;
}